*{
  margin: 0px;
  padding: 0px;
  margin: auto;
}
body {
  margin: 0;
  font-family: Arial Narrow;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#nuevoitem{
  margin-top: 70px;
  margin-left: 25%;
  width: 640px;
  height: 150px;
}

div#listaitems{
  margin-left: 25%;
  margin-top: 20px;
  width: 640px;
  height: auto;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
  
}


