*{
  margin: 0px;
  padding: 0px;
  margin: auto;
}
body {
  margin: 0;
  font-family: Arial Narrow;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#nuevoitem{
  margin-top: 70px;
  margin-left: 25%;
  width: 640px;
  height: auto;
}

div#listaitems{
  margin-left: 25%;
  margin-top: 20px;
  width: 640px;
  height: auto;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
  
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}


.buttondelete {
  font-size: 10px;
  background-color: #f44336;
  color: white;
}


.buttonupdate {
  font-size: 10px;
  background-color: #fa9600;
  color: white;
}